.container-1,.container-2,.container-3,.container-4,.container-5{
  border:2px solid black;
  text-align:center;
  margin:0 auto;
  width: 95%;
 }
.flex-box-container-1,.flex-box-container-2,.flex-box-rps,.flex-box-pick-color,.flex-blackjack-row-1,.flex-blackjack-row-2,.flex-blackjack-row-3{
  display:flex;
  border:2px solid black;
  padding: 10px;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-blackjack-row-1,.flex-blackjack-row-2  {
    background: url('https://img.freepik.com/free-photo/green-poker-background_87414-2508.jpg?size=626&ext=jpg')center;
    color: #ffffff;
}
.flex-blackjack-row-1 div {
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    text-align: center;
    height: 350px;
}

.flex-blackjack-row-1 img {
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row-2 button {
    border: 1px solid black;
    padding:10px;
}

.flex-blackjack-row-2 div{
    border: 1px solid black;
    padding: 10px;
}


table,th,td {
    padding:10px;
    border: 1px solid black;
}

.flex-box-container-1 div,.flex-box-pick-color{
  border:2px solid black;
  padding: 10px;
  align-items: center;
  display:flex;
}


.flex-box-container-2 img {
    box-shadow: 0px 10px 50px rgba(0,0,0,0.7);
    margin: 10px;

}

.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37,58,223,1);
}
