.container-1{
  border:5px solid black;
  text-align:center;
  margin:0 auto;
  width: 75%;
 }
.flex-box-container-1{
  display:flex;
  border:3px solid black;
  padding: 10px;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-box-container-1 div{
  border:2px solid black;
  padding: 10px;
  align-items: center;
  display:flex;

}

.container-2{
    border: 2px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.flex-box-container-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid black;

}
.flex-box-container-2 img {
    box-shadow: 0px 10px 50px rgba(0,0,0,0.7);
    margin: 10px;

}
